@import "tailwindcss";
@import "@repo/design-system/styles/globals.css";
@import "fumadocs-ui/css/shadcn.css";
@import "fumadocs-ui/css/preset.css";

/* Fix Fumadocs theme toggle icons */
[data-theme-toggle] svg {
  @apply fill-none;
}

:root {
  --fd-banner-height: 61px;
  --fd-layout-width: 100vw;
}

@layer base {
  table code {
    @apply whitespace-nowrap;
  }
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply tracking-tight;
}
