---
import { editors } from "../../lib/editors";
import { editorLogos } from "../../lib/logos";
import SectionIntro from "./section-intro.astro";
---

<div class="grid gap-8">
  <SectionIntro
    description="Ultracite can generate configuration files for all these popular editors, so you can get the most of out of your AI integrations."
    title="... and all your favourite editors"
  />
  <div class="mx-auto flex items-center justify-center -space-x-1">
    {
      editors.map((editor, index) => (
        <span class="hp-tt inline-flex" tabindex="0">
          <img
            alt={editor.name}
            class:list={[
              "size-10 overflow-hidden rounded-full ring-2 ring-background transition-transform will-change-transform hover:-translate-y-2 sm:size-14",
              index % 2 === 0 ? "hover:rotate-3" : "hover:-rotate-3",
            ]}
            height="56"
            src={editorLogos[editor.id]}
            width="56"
          />
          <span data-tt>{editor.name}</span>
        </span>
      ))
    }
  </div>
</div>
