---
// Single sponsor for now; the CodeRabbit wordmark is inlined so it inherits
// currentColor and needs no extra asset.
import SectionIntro from "./section-intro.astro";
---

<div class="grid gap-8">
  <SectionIntro
    description='Ultracite is a community-driven project, powered by the generosity of these companies. <a class="underline" href="https://github.com/sponsors/haydenbleasel" rel="noopener noreferrer" target="_blank">Become a sponsor</a>.'
    title="Supported by our sponsors"
  />
  <div
    class="mx-auto flex flex-wrap items-center justify-center gap-x-12 gap-y-6 text-foreground sm:gap-x-20"
  >
    <a
      aria-label="CodeRabbit"
      class="transition-opacity hover:opacity-80"
      href="https://www.coderabbit.ai/"
      rel="noopener noreferrer"
      target="_blank"
    >
      <svg
        class="h-7 w-auto sm:h-8"
        fill="none"
        viewBox="0 0 160 30"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>CodeRabbit</title>
        <mask
          height="26"
          id="coderabbit-mask"
          maskUnits="userSpaceOnUse"
          style="mask-type:luminance"
          width="160"
          x="0"
          y="0"
        >
          <path d="M160 0.08H0V25.51H160V0.08Z" fill="white"></path>
        </mask>
        <g mask="url(#coderabbit-mask)">
          <path
            d="M40.12 10.74C40.74 9.59 41.61 8.69 42.72 8.05C43.82 7.41 45.08 7.09 46.49 7.09C48.21 7.09 49.68 7.56 50.91 8.49C52.14 9.42 52.95 10.69 53.36 12.3H49.48C49.19 11.68 48.78 11.21 48.25 10.88C47.72 10.55 47.12 10.39 46.44 10.39C45.35 10.39 44.48 10.78 43.8 11.56C43.12 12.33 42.78 13.37 42.78 14.67C42.78 15.96 43.12 17 43.8 17.78C44.48 18.56 45.35 18.94 46.44 18.94C47.12 18.94 47.72 18.78 48.25 18.45C48.79 18.13 49.19 17.66 49.48 17.04H53.36C52.95 18.65 52.13 19.91 50.91 20.83C49.68 21.76 48.21 22.22 46.49 22.22C45.08 22.22 43.82 21.9 42.72 21.26C41.61 20.62 40.74 19.72 40.12 18.58C39.5 17.44 39.2 16.14 39.2 14.67C39.2 13.2 39.5 11.89 40.12 10.74Z"
            fill="currentColor"></path>
          <path
            d="M57.32 21.55C56.42 21.05 55.71 20.35 55.19 19.43C54.68 18.51 54.42 17.44 54.42 16.21C54.42 14.99 54.68 13.93 55.2 13.01C55.73 12.08 56.44 11.38 57.35 10.88C58.26 10.39 59.28 10.14 60.41 10.14C61.53 10.14 62.55 10.39 63.46 10.88C64.37 11.38 65.09 12.08 65.61 13.01C66.14 13.93 66.39 15 66.39 16.21C66.39 17.43 66.13 18.5 65.6 19.42C65.07 20.35 64.35 21.05 63.43 21.55C62.52 22.04 61.5 22.28 60.36 22.28C59.23 22.28 58.22 22.04 57.32 21.55H57.32ZM62.1 18.4C62.57 17.89 62.81 17.16 62.81 16.21C62.81 15.26 62.58 14.55 62.12 14.03C61.66 13.53 61.09 13.27 60.42 13.27C59.74 13.27 59.16 13.52 58.7 14.02C58.24 14.52 58.02 15.25 58.02 16.21C58.02 17.16 58.24 17.88 58.69 18.39C59.13 18.9 59.7 19.15 60.37 19.15C61.05 19.15 61.63 18.9 62.1 18.39V18.4Z"
            fill="currentColor"></path>
          <path
            d="M67.83 12.99C68.28 12.08 68.89 11.37 69.66 10.88C70.43 10.38 71.29 10.14 72.24 10.14C73 10.14 73.69 10.3 74.32 10.63C74.94 10.95 75.44 11.39 75.8 11.93V6.45H79.33V22.11H75.8V20.42C75.46 20.98 74.99 21.43 74.38 21.77C73.77 22.11 73.05 22.28 72.24 22.28C71.29 22.28 70.43 22.03 69.66 21.53C68.89 21.03 68.29 20.31 67.83 19.39C67.39 18.47 67.16 17.4 67.16 16.18C67.16 14.96 67.39 13.9 67.83 12.99V12.99ZM75.06 14.07C74.57 13.55 73.98 13.29 73.28 13.29C72.58 13.29 71.98 13.54 71.49 14.06C71 14.57 70.76 15.28 70.76 16.18C70.76 17.08 71 17.8 71.49 18.33C71.98 18.86 72.58 19.13 73.28 19.13C73.98 19.13 74.57 18.86 75.06 18.34C75.55 17.82 75.8 17.11 75.8 16.21C75.8 15.3 75.55 14.59 75.06 14.07Z"
            fill="currentColor"></path>
          <path
            d="M92.28 17.08H84.29C84.35 17.81 84.58 18.38 84.98 18.76C85.39 19.15 85.89 19.35 86.48 19.35C87.36 19.35 87.97 18.97 88.32 18.2H92.08C91.88 18.98 91.54 19.68 91.03 20.3C90.53 20.92 89.9 21.41 89.14 21.76C88.38 22.11 87.54 22.28 86.6 22.28C85.47 22.28 84.46 22.04 83.58 21.55C82.7 21.05 82.01 20.35 81.52 19.43C81.02 18.51 80.77 17.44 80.77 16.21C80.77 14.99 81.01 13.92 81.5 13C81.99 12.08 82.67 11.38 83.56 10.88C84.44 10.39 85.45 10.14 86.6 10.14C87.74 10.14 88.7 10.38 89.57 10.86C90.44 11.34 91.12 12.02 91.61 12.92C92.1 13.8 92.34 14.84 92.34 16.03C92.34 16.37 92.32 16.72 92.28 17.09L92.28 17.08ZM88.73 15.07C88.73 14.45 88.53 13.96 88.11 13.59C87.7 13.22 87.19 13.04 86.56 13.04C85.94 13.04 85.48 13.21 85.07 13.56C84.66 13.92 84.41 14.42 84.32 15.07H88.74L88.73 15.07Z"
            fill="currentColor"></path>
          <path
            d="M101.39 22.12L98.38 16.51H97.53V22.12H94V7.26H99.93C101.07 7.26 102.04 7.47 102.85 7.88C103.66 8.29 104.26 8.85 104.66 9.56C105.06 10.27 105.26 11.07 105.26 11.94C105.26 12.93 104.99 13.81 104.45 14.58C103.9 15.36 103.1 15.91 102.04 16.23L105.39 22.12H101.4H101.39ZM97.53 13.95H99.72C100.36 13.95 100.85 13.79 101.17 13.46C101.5 13.13 101.66 12.68 101.66 12.09C101.66 11.5 101.5 11.08 101.17 10.75C100.85 10.43 100.36 10.27 99.72 10.27H97.53V13.95Z"
            fill="currentColor"></path>
          <path
            d="M107.02 12.99C107.47 12.07 108.08 11.37 108.85 10.88C109.62 10.38 110.49 10.21 111.43 10.21H118.52V22.11H114.98V20.44C114.64 20.99 114.17 21.44 113.55 21.78C112.94 22.12 112.22 22.28 111.42 22.28C110.47 22.28 109.62 22.03 108.85 21.53C108.08 21.03 107.47 20.32 107.02 19.4C106.58 18.47 106.35 17.41 106.35 16.19C106.35 14.97 106.58 13.91 107.02 12.99ZM114.25 14.07C113.76 13.55 113.17 13.29 112.47 13.29C111.77 13.29 111.17 13.54 110.68 14.06C110.19 14.57 109.95 15.28 109.95 16.18C109.95 17.08 110.19 17.8 110.68 18.33C111.17 18.86 111.77 19.13 112.47 19.13C113.17 19.13 113.76 18.86 114.25 18.34C114.74 17.82 114.98 17.11 114.98 16.21C114.98 15.3 114.74 14.59 114.25 14.07Z"
            fill="currentColor"></path>
          <path
            d="M125.63 10.64C126.25 10.3 126.96 10.14 127.76 10.14C128.71 10.14 129.57 10.38 130.34 10.88C131.11 11.37 131.72 12.08 132.17 12.99C132.61 13.91 132.84 14.98 132.84 16.19C132.84 17.4 132.61 18.47 132.17 19.4C131.72 20.32 131.11 21.03 130.34 21.53C129.57 22.03 128.71 22.28 127.76 22.28C126.94 22.28 126.24 22.12 125.63 21.79C125.02 21.46 124.55 21.02 124.2 20.47V22.12H120.67V6.45H124.2V11.98C124.53 11.43 125.01 10.98 125.63 10.64ZM128.51 14.06C128.02 13.55 127.42 13.29 126.7 13.29C125.98 13.29 125.4 13.56 124.91 14.08C124.43 14.6 124.18 15.31 124.18 16.21C124.18 17.12 124.43 17.83 124.91 18.35C125.4 18.87 126 19.13 126.7 19.13C127.4 19.13 128 18.87 128.5 18.34C128.99 17.81 129.24 17.09 129.24 16.19C129.24 15.28 129 14.58 128.51 14.06Z"
            fill="currentColor"></path>
          <path
            d="M139.24 10.64C139.86 10.3 140.57 10.14 141.37 10.14C142.32 10.14 143.18 10.38 143.95 10.88C144.72 11.37 145.33 12.08 145.78 12.99C146.22 13.91 146.45 14.98 146.45 16.19C146.45 17.4 146.22 18.47 145.78 19.4C145.34 20.32 144.72 21.03 143.95 21.53C143.18 22.03 142.32 22.28 141.37 22.28C140.56 22.28 139.85 22.12 139.24 21.79C138.63 21.46 138.16 21.02 137.81 20.47V22.12H134.28V6.45H137.81V11.98C138.15 11.43 138.62 10.98 139.24 10.64ZM142.12 14.06C141.63 13.55 141.03 13.29 140.31 13.29C139.59 13.29 139.01 13.56 138.53 14.08C138.04 14.6 137.79 15.31 137.79 16.21C137.79 17.12 138.04 17.83 138.53 18.35C139.01 18.87 139.61 19.13 140.31 19.13C141.01 19.13 141.62 18.87 142.11 18.34C142.6 17.81 142.85 17.09 142.85 16.19C142.85 15.28 142.61 14.58 142.12 14.06Z"
            fill="currentColor"></path>
          <path
            d="M148.16 8.52C147.76 8.15 147.57 7.69 147.57 7.13C147.57 6.58 147.76 6.1 148.16 5.73C148.55 5.36 149.05 5.17 149.67 5.17C150.29 5.17 150.77 5.36 151.17 5.73C151.56 6.1 151.76 6.57 151.76 7.13C151.76 7.7 151.56 8.15 151.17 8.52C150.77 8.89 150.28 9.08 149.67 9.08C149.06 9.08 148.54 8.89 148.16 8.52ZM151.43 10.31V22.12H147.9V10.3H151.43V10.31Z"
            fill="currentColor"></path>
          <path
            d="M160 19.04V22.11H158.2C156.93 22.11 155.92 21.79 155.21 21.15C154.49 20.51 154.14 19.46 154.14 18V13.31H152.73V10.3H154.14V7.43H157.67V10.3H159.98V13.31H157.67V18.05C157.67 18.4 157.75 18.66 157.92 18.81C158.08 18.97 158.36 19.04 158.75 19.04H160.01H160Z"
            fill="currentColor"></path>
        </g>
        <path
          d="M14.3 0.53C22.2 0.53 28.61 6.93 28.61 14.83C28.61 22.73 22.2 29.14 14.3 29.14C6.4 29.14 2.76e-05 22.73 0 14.83C0 6.93 6.4 0.53 14.3 0.53ZM11.7 4.38C12.32 8.95 14.88 7.76 16.39 10.91C16.39 10.91 13.84 7.36 9.66 8.67C9.68 8.71 11.21 11.96 15.69 12.62C15.69 12.62 16.05 13.89 16.16 14.12C16.12 14.09 9.22 10.43 7.11 17.53C5.55 17.17 5.02 18.92 6.82 20.11C6.83 20.09 7.14 18.86 7.88 18.49C7.88 18.49 6.27 20.32 8.16 22.52H14.92C15.09 22.24 15.81 20.78 14.02 19.67C15.28 19.66 16.31 22.1 17.42 22.54H19.03C19.08 22.4 19.2 21.99 18.93 21.63C18.52 21.14 17.62 21.21 17.62 20.31C17.93 16.14 24.03 17.42 23.84 12.4L23.75 12.29C23.34 11.79 21.56 9.81 19.4 9.68C17.81 9.58 17.43 9.8 17.36 9.96C17.26 9.12 16.55 5.21 11.7 4.38Z"
          fill="#FF570A"></path>
      </svg>
    </a>
    <a
      aria-label="Photon HQ"
      class="transition-opacity hover:opacity-80"
      href="https://photon.codes/"
      rel="noopener noreferrer"
      target="_blank"
    >
      <svg
        class="h-7 w-auto sm:h-8"
        viewBox="0 0 268 57"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M162.288 16.23C165.528 16.23 168.328 16.9697 170.688 18.4497C173.088 19.8897 174.928 21.8702 176.208 24.3901C177.487 26.8701 178.127 29.61 178.127 32.6099C178.127 35.6497 177.487 38.4298 176.208 40.9497C174.928 43.4296 173.088 45.4102 170.688 46.8901C168.328 48.3301 165.528 49.0503 162.288 49.0503C159.088 49.0503 156.287 48.3301 153.887 46.8901C151.487 45.4102 149.648 43.4296 148.368 40.9497C147.088 38.4298 146.448 35.6498 146.448 32.6099C146.448 29.6099 147.088 26.8701 148.368 24.3901C149.648 21.8702 151.487 19.8897 153.887 18.4497C156.287 16.9697 159.088 16.23 162.288 16.23ZM162.288 22.8296C159.768 22.8296 157.768 23.77 156.288 25.6499C154.848 27.4899 154.127 29.81 154.127 32.6099C154.127 35.4099 154.848 37.7504 156.288 39.6304C157.768 41.4702 159.768 42.3901 162.288 42.3901C164.847 42.3901 166.848 41.4703 168.288 39.6304C169.728 37.7504 170.448 35.4099 170.448 32.6099C170.448 29.81 169.728 27.4899 168.288 25.6499C166.848 23.77 164.848 22.8296 162.288 22.8296Z"
          fill="currentColor"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M218.187 16.23C221.427 16.2301 224.227 16.9699 226.586 18.4497C228.986 19.8897 230.827 21.8701 232.107 24.3901C233.387 26.87 234.027 29.61 234.027 32.6099C234.027 35.6497 233.387 38.4298 232.107 40.9497C230.827 43.4297 228.986 45.4101 226.586 46.8901C224.227 48.33 221.427 49.0502 218.187 49.0503C214.987 49.0503 212.187 48.3301 209.787 46.8901C207.387 45.4101 205.546 43.4297 204.266 40.9497C202.986 38.4298 202.346 35.6497 202.346 32.6099C202.346 29.61 202.986 26.87 204.266 24.3901C205.546 21.8701 207.387 19.8897 209.787 18.4497C212.187 16.9698 214.987 16.23 218.187 16.23ZM218.187 22.8296C215.667 22.8296 213.667 23.7701 212.187 25.6499C210.747 27.4899 210.027 29.81 210.027 32.6099C210.027 35.4099 210.747 37.7504 212.187 39.6304C213.667 41.4701 215.667 42.3901 218.187 42.3901C220.747 42.39 222.747 41.4703 224.187 39.6304C225.627 37.7504 226.346 35.4098 226.346 32.6099C226.346 29.81 225.627 27.4898 224.187 25.6499C222.747 23.77 220.747 22.8297 218.187 22.8296Z"
          fill="currentColor"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M92.2329 6.02979C97.7927 6.02984 101.872 7.27055 104.472 9.75049C107.112 12.1904 108.432 15.4099 108.432 19.4097C108.432 21.9695 107.853 24.2898 106.693 26.3696C105.573 28.4096 103.872 30.0505 101.592 31.2905C99.3124 32.4904 96.5125 33.0903 93.1929 33.0903H82.9927V48.27H74.8325V6.02979H92.2329ZM82.9927 26.4897H92.3521C94.8719 26.4897 96.8124 25.8702 98.1724 24.6304C99.5723 23.3904 100.273 21.7503 100.273 19.7104C100.273 17.4707 99.5926 15.7904 98.2329 14.6704C96.9129 13.5104 94.9521 12.9302 92.3521 12.9302H82.9927V26.4897Z"
          fill="currentColor"></path>
        <path
          d="M120.715 18.8101C120.715 19.5701 120.635 20.2305 120.475 20.7905C120.355 21.3504 120.155 21.9702 119.875 22.6499L119.635 23.2505C119.475 23.5303 119.456 23.7703 119.576 23.9702C119.736 24.1301 119.935 24.2104 120.175 24.2104C120.455 24.1704 120.656 24.01 120.776 23.73C121.776 21.5301 123.215 19.7295 125.095 18.3296C126.975 16.9296 129.076 16.23 131.396 16.23C134.996 16.2301 137.796 17.33 139.795 19.5298C141.795 21.7298 142.795 25.0302 142.795 29.4302V48.27H135.116V31.8296C135.116 28.4302 134.615 26.0705 133.616 24.7505C132.656 23.3905 131.156 22.7105 129.116 22.7104C127.676 22.7104 126.316 23.2301 125.036 24.27C123.756 25.27 122.716 26.7103 121.916 28.5903C121.116 30.4302 120.715 32.5099 120.715 34.8296V48.27H113.036V5.06982H120.715V18.8101Z"
          fill="currentColor"></path>
        <path
          d="M191.681 16.9497H200.322V23.1899H191.681V38.3101C191.681 39.47 191.761 40.29 191.921 40.77C192.081 41.25 192.382 41.5905 192.822 41.7905C193.262 41.9504 194.002 42.0298 195.042 42.0298H200.322V48.27H193.181C190.982 48.27 189.222 47.9901 187.902 47.4302C186.582 46.8702 185.601 45.9102 184.961 44.5503C184.321 43.1903 184.001 41.2901 184.001 38.8501V23.1899H178.242V16.9497H184.001V8.31006H191.681V16.9497Z"
          fill="currentColor"></path>
        <path
          d="M256.083 16.23C259.683 16.23 262.484 17.3298 264.484 19.5298C266.484 21.7298 267.484 25.0302 267.484 29.4302V48.27H259.803V31.8296C259.803 28.4299 259.303 26.0704 258.303 24.7505C257.343 23.3905 255.843 22.7104 253.803 22.7104C252.363 22.7105 251.003 23.2301 249.723 24.27C248.443 25.27 247.404 26.7104 246.604 28.5903C245.804 30.4302 245.404 32.5098 245.404 34.8296V48.27H237.723V16.9497H245.404V18.8101C245.404 19.5701 245.324 20.2305 245.164 20.7905C245.044 21.3503 244.844 21.9702 244.564 22.6499L244.324 23.2505C244.164 23.5304 244.143 23.7703 244.263 23.9702C244.423 24.1302 244.624 24.2104 244.864 24.2104C245.144 24.1704 245.343 24.0099 245.463 23.73C246.463 21.53 247.904 19.7296 249.784 18.3296C251.664 16.9298 253.764 16.23 256.083 16.23Z"
          fill="currentColor"></path>
        <path
          d="M47.7422 31.968H54.5102C55.7342 31.968 56.5982 33.12 56.3102 34.2L51.1262 54.792C50.9822 55.584 50.2622 56.16 49.3982 56.16H42.5582C41.4782 56.16 40.6142 55.008 40.8302 53.928L46.0142 33.336C46.2302 32.544 46.8782 31.968 47.7422 31.968ZM34.0622 0H40.8302C42.0542 0 42.9182 1.152 42.5582 2.232L37.5182 22.824C37.2302 23.616 36.5102 24.192 35.6462 24.192H28.9502C27.7262 24.192 26.8622 23.04 27.2222 21.96L32.3342 1.368C32.4782 0.576 33.2702 0 34.0622 0ZM6.99018 14.832H13.7582C14.9102 14.832 15.7742 15.984 15.4862 17.136L10.3742 37.656C10.1582 38.448 9.43818 39.024 8.64618 39.024H1.80618C0.654175 39.024 -0.281821 37.944 0.0781786 36.792L5.19018 16.272C5.40618 15.408 6.12618 14.832 6.99018 14.832Z"
          fill="currentColor"></path>
      </svg>
    </a>
  </div>
</div>
