@import "tailwindcss";

@theme inline {
  --color-accent: var(--accent);
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
}

:root {
  --accent: oklch(0.967 0.001 286.375);
  --background: oklch(1 0 0);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
}
