@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@source "../**/*.{ts,tsx}";

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.51 0.23 277);
  --primary-foreground: oklch(0.96 0.02 272);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.58 0.22 27);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.79 0.1 275);
  --chart-2: oklch(0.68 0.16 277);
  --chart-3: oklch(0.59 0.2 277);
  --chart-4: oklch(0.51 0.23 277);
  --chart-5: oklch(0.46 0.21 277);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.51 0.23 277);
  --sidebar-primary-foreground: oklch(0.96 0.02 272);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.59 0.2 277);
  --primary-foreground: oklch(0.96 0.02 272);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.79 0.1 275);
  --chart-2: oklch(0.68 0.16 277);
  --chart-3: oklch(0.59 0.2 277);
  --chart-4: oklch(0.51 0.23 277);
  --chart-5: oklch(0.46 0.21 277);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.68 0.16 277);
  --sidebar-primary-foreground: oklch(0.96 0.02 272);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

/* This layer is by next-forge */
@layer base {
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border;
  }
  * {
    @apply min-w-0;
    @apply border-border outline-ring/50;
  }
  html {
    text-rendering: optimizelegibility;
  }
  body {
    @apply min-h-dvh;
    @apply bg-background text-foreground;
  }
  input::placeholder,
  textarea::placeholder {
    @apply text-muted-foreground;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    @apply cursor-pointer;
  }
}

@layer base {
  .typography {
    max-width: 65ch;
    color: var(--color-foreground);

    & h1:not(.not-typography h1) {
      font-size: var(--text-4xl);
      font-weight: 600;
      line-height: var(--text-4xl--line-height);
      letter-spacing: var(--tracking-tight);
      scroll-margin: calc(var(--spacing) * 20);

      @media (min-width: 1024px) {
        font-size: var(--text-5xl);
        line-height: var(--text-5xl--line-height);
      }
    }

    & h2:not(.not-typography h2) {
      padding-bottom: calc(var(--spacing) * 2);
      margin-top: calc(var(--spacing) * 12);
      font-size: var(--text-3xl);
      font-weight: 600;
      line-height: var(--text-3xl--line-height);
      letter-spacing: var(--tracking-tight);
      scroll-margin: calc(var(--spacing) * 20);
      border-bottom: 1px solid var(--color-border);

      &:first-child {
        margin-top: 0;
      }
    }

    & h3:not(.not-typography h3) {
      margin-top: calc(var(--spacing) * 12);
      font-size: var(--text-2xl);
      font-weight: 600;
      line-height: var(--text-2xl--line-height);
      letter-spacing: var(--tracking-tight);
      scroll-margin: calc(var(--spacing) * 20);

      &:first-child {
        margin-top: 0;
      }
    }

    & h4:not(.not-typography h4) {
      margin-top: calc(var(--spacing) * 12);
      font-size: var(--text-xl);
      font-weight: 600;
      line-height: var(--text-xl--line-height);
      letter-spacing: var(--tracking-tight);
      scroll-margin: calc(var(--spacing) * 20);

      &:first-child {
        margin-top: 0;
      }
    }

    & h5:not(.not-typography h5) {
      margin-top: calc(var(--spacing) * 12);
      font-size: var(--text-lg);
      font-weight: 600;
      line-height: var(--text-lg--line-height);
      letter-spacing: var(--tracking-tight);
      scroll-margin: calc(var(--spacing) * 20);

      &:first-child {
        margin-top: 0;
      }
    }

    & h6:not(.not-typography h6) {
      margin-top: calc(var(--spacing) * 12);
      font-size: var(--text-base);
      font-weight: 600;
      line-height: var(--text-base--line-height);
      letter-spacing: var(--tracking-tight);
      scroll-margin: calc(var(--spacing) * 20);

      &:first-child {
        margin-top: 0;
      }
    }

    & h1:not(.not-typography h1),
    & h2:not(.not-typography h2),
    & h3:not(.not-typography h3),
    & h4:not(.not-typography h4),
    & h5:not(.not-typography h5),
    & h6:not(.not-typography h6) {
      & + p {
        margin-top: 0;
      }
    }

    & p:not(.not-typography p) {
      line-height: 1.75;

      &:not(:first-child) {
        margin-top: calc(var(--spacing) * 6);
      }
    }

    & li:not(.not-typography li) {
      line-height: 1.75;
    }

    & a:not(.not-typography a) {
      font-weight: 500;
      color: var(--color-primary);
      text-decoration: underline;
      text-underline-offset: var(--spacing);
    }

    & blockquote:not(.not-typography blockquote) {
      padding-left: calc(var(--spacing) * 6);
      margin-top: calc(var(--spacing) * 6);
      font-style: italic;
      border-left: 2px solid var(--color-border);
    }

    & table:not(.not-typography table) {
      width: 100%;
      margin-top: calc(var(--spacing) * 6);
      margin-bottom: calc(var(--spacing) * 6);
      overflow-y: auto;

      & thead tr {
        padding: 0;
        margin: 0;
        border-top: 1px solid var(--color-border);

        &:nth-child(even) {
          background-color: var(--color-muted);
        }
      }

      & th {
        padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
        font-weight: 700;
        text-align: left;
        border: 1px solid var(--color-border);

        &[align="center"] {
          text-align: center;
        }

        &[align="right"] {
          text-align: right;
        }
      }

      & tbody tr {
        padding: 0;
        margin: 0;
        border-top: 1px solid var(--color-border);

        &:nth-child(even) {
          background-color: var(--color-muted);
        }
      }

      & td {
        padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
        text-align: left;
        border: 1px solid var(--color-border);

        &[align="center"] {
          text-align: center;
        }

        &[align="right"] {
          text-align: right;
        }
      }
    }

    & ul:not(.not-typography ul) {
      margin-top: calc(var(--spacing) * 6);
      margin-left: calc(var(--spacing) * 6);
      list-style: disc;

      & > li {
        margin-top: calc(var(--spacing) * 2);
      }

      & p {
        display: inline;
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    & ol:not(.not-typography ol) {
      margin-top: calc(var(--spacing) * 6);
      margin-left: calc(var(--spacing) * 6);
      list-style: decimal;

      & > li {
        margin-top: calc(var(--spacing) * 2);
      }

      & p {
        display: inline;
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    & pre:not(.not-typography pre) {
      padding: calc(var(--spacing) * 4);
      margin-top: calc(var(--spacing) * 6);
      margin-bottom: calc(var(--spacing) * 6);
      overflow-y: auto;
      font-size: var(--text-sm);
      line-height: var(--text-sm--line-height);
      background-color: var(--color-muted);
      border-radius: calc(var(--radius) - 2px);
    }

    & code:not(pre code):not(.not-typography code) {
      position: relative;
      padding: calc(var(--spacing) * 0.2) calc(var(--spacing) * 0.3);
      font-family: var(--font-mono);
      font-size: var(--text-sm);
      font-weight: 600;
      line-height: var(--text-sm--line-height);
      background-color: var(--color-muted);
      border-radius: var(--radius);
    }

    & .lead:not(.not-typography .lead) {
      font-size: var(--text-xl);
      line-height: var(--text-xl--line-height);
      color: var(--color-muted-foreground);
    }

    & .large:not(.not-typography .large) {
      font-size: var(--text-lg);
      font-weight: 600;
      line-height: var(--text-lg--line-height);
    }

    & .small:not(.not-typography .small) {
      font-size: var(--text-sm);
      font-weight: 500;
      line-height: var(--text-sm--line-height);
    }

    & .muted:not(.not-typography .muted) {
      font-size: var(--text-sm);
      line-height: var(--text-sm--line-height);
      color: var(--color-muted-foreground);
    }

    & img:not(.not-typography img),
    & picture:not(.not-typography picture),
    & video:not(.not-typography video) {
      margin-top: calc(var(--spacing) * 6);
      margin-bottom: calc(var(--spacing) * 6);
    }

    & picture > img:not(.not-typography picture > img) {
      margin-top: 0;
      margin-bottom: 0;
    }

    & kbd:not(.not-typography kbd) {
      padding: calc(var(--spacing) * 0.5) calc(var(--spacing) * 1.5);
      font-size: var(--text-xs);
      font-weight: 600;
      line-height: var(--text-xs--line-height);
      background-color: var(--color-muted);
      border-radius: calc(var(--radius) - 2px);
    }

    & hr {
      margin-top: calc(var(--spacing) * 10);
      margin-bottom: calc(var(--spacing) * 10);
    }

    & dl:not(.not-typography dl) {
      margin-top: calc(var(--spacing) * 6);
      margin-bottom: calc(var(--spacing) * 6);

      & dt {
        margin-top: calc(var(--spacing) * 6);
        font-weight: 600;
        letter-spacing: var(--tracking-tight);

        &:first-child {
          margin-top: 0;
        }
      }
    }

    & details:not(.not-typography details) {
      margin-top: calc(var(--spacing) * 6);

      & summary {
        margin-top: calc(var(--spacing) * 6);
        font-weight: 600;
        letter-spacing: var(--tracking-tight);
        cursor: pointer;
      }

      & p {
        &:first-of-type {
          margin-top: calc(var(--spacing) * 2);
        }
      }
    }

    & mark:not(.not-typography mark) {
      background-color: var(--color-yellow-300);
    }

    & small:not(.not-typography small) {
      font-size: var(--text-xs);
      line-height: var(--text-xs--line-height);
    }
  }
}
