# Name of our action
name: Release

permissions:
  id-token: write
  contents: write
  pull-requests: write
  issues: write

# The event that will trigger the action
on:
  push:
    branches: [main]

# what the action will do
jobs:
  release:
    runs-on: ubuntu-latest
    
    if: "!contains(github.event.head_commit.message, 'ci skip') && !contains(github.event.head_commit.message, 'skip ci')"
    
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Prepare repository
        run: git fetch --unshallow --tags

      - uses: oven-sh/setup-bun@v2
        name: Install Bun

      - uses: actions/cache@v4
        name: Setup Bun cache
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lock') }}
          restore-keys: |

      - name: Install dependencies
        run: bun install

      - name: Run tests
        run: bun test

      - name: Build CLI
        run: bun run build --filter ultracite

      - name: Create Release PR or Publish to NPM
        id: changesets
        uses: changesets/action@v1
        with:
          version: bun changeset version
          publish: bun changeset publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy to Vercel
        if: steps.changesets.outputs.published == 'true'
        run: bunx vercel --prod --token=${{ secrets.VERCEL_TOKEN }}
        env:
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
