name: Validate
permissions:
  contents: read

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        runtime: [node-18, node-20, node-22, bun]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Use Node.js 18.x
        if: matrix.runtime == 'node-18'
        uses: actions/setup-node@v6
        with:
          node-version: 18.x

      - name: Use Node.js 20.x
        if: matrix.runtime == 'node-20'
        uses: actions/setup-node@v6
        with:
          node-version: 20.x

      - name: Use Node.js 22.x
        if: matrix.runtime == 'node-22'
        uses: actions/setup-node@v6
        with:
          node-version: 22.x

      - uses: oven-sh/setup-bun@v2
        name: Install Bun

      - name: Install dependencies
        run: bun install

      - name: Build CLI
        run: bun run build --filter ultracite

  test:
    needs: build
    runs-on: ubuntu-latest

    strategy:
      matrix:
        runtime: [node-18, node-20, node-22, bun]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Use Node.js 18.x
        if: matrix.runtime == 'node-18'
        uses: actions/setup-node@v6
        with:
          node-version: 18.x

      - name: Use Node.js 20.x
        if: matrix.runtime == 'node-20'
        uses: actions/setup-node@v6
        with:
          node-version: 20.x

      - name: Use Node.js 22.x
        if: matrix.runtime == 'node-22'
        uses: actions/setup-node@v6
        with:
          node-version: 22.x

      - uses: oven-sh/setup-bun@v2
        name: Install Bun

      - name: Install dependencies
        run: bun install

      - name: Run tests
        run: bun test
